.window {
  background-color: bisque;
  width: 1350px;
  height: 750px;
  margin: 20px;

  border: 10px double #7c3c19;
  border-radius: 30px;

  position: absolute;
}

.windowContent {
  width: 100%;
  height: 100%;
}

.windowBtn {
  width: 60px;
  height: 60px;
  padding: 10px;
  border-radius: 60px;
  background-color: bisque;
  border: double 10px #7c3c19;

  /* margin: 10px; */
  /* float: right; */
  text-align: center;
  color: #7c3c19;

  position: absolute;
  left: 1270px;
  top: -20px;
}

.windowBtn:hover {
  cursor: pointer;
}
